<!DOCTYPE html>
<html>
<head>
  <title>AladdinApi</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<% if flash.count > 0 %>
  <% flash.each do |key, value| %>
    <%= render 'shared/notification', header: key.humanize, message: value %>
  <% end %>
<% end %>

<%= turbo_frame_tag "flash_message" do %>
<% end %>

<main class="<%= yield(:main_class) || 'container mx-auto mt-28 px-5 flex' %>">

  <% if current_user.present? %>
    <div class="px-5 mx-auto" style="display: flex; justify-content: space-between;">
      <div><%= current_user.name %></div>
      <div>
        <%= button_to destroy_user_session_path, data: { "turbo": false }, method: :delete, class: '', style: 'color: red;' do %>
          Logout
        <% end %>
      </div>
    </div>
  <% end %>

  <%= yield %>
</main>
</body>
</html>
